@charset "utf-8";

body ,span ,ul, li,input{
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #999999;
}
img {
  vertical-align: middle;
}

ul{
  list-style: none;
}
i {
  font-style: normal;
}
input {
  outline: none;
  border: none;
}