@charset "utf-8";

.ad {
  overflow: hidden; /*溢出隐藏*/
  display: none;  /*默认隐藏*/
}
.ad a {
  text-align: center;
}
.ad a span {
  display: inline-block;
  height: 60px;
  width: 100%;
  background-color: rgb(204, 191, 191);
  line-height: 60px;
}

/* 导航相关 */
.nav {
  height: 30px;
  background-color: rgb(82, 79, 79);
  line-height: 30px;
}
.nav a {
  display: inline-block;
}
.nav a:hover {
  color: #fff;
}

/* 导航左侧 */
.nav .topnavleft1 .sep {
  padding: 0 10px;
}

#header .nav .topnavleft1,.topnavleft2 {
  float: left;
}
.topnavleft1 .login{
   margin-left: 16px;
}
.nav .topnavleft2 {
  padding-left: 30px;
}

.nav .topnavleft2 .phone {
  position: relative;
}

.nav .topnavleft2 .app {
  position: absolute;
  top: 42px;
  text-align: center;
  border: 1px solid #999;
  /* 让元素相对于父元素居中 */
  transform: translate(-50%);
  margin-left: -50%;
  /* 默认隐藏 */
  display: none;
}

.nav .topnavleft2 .app img {
  width: 120px;
  height: 120px;
}

.nav .topnavleft2 .firstsapn {
   display:inline-block;
   line-height: 30px;
}
.nav .topnavleft2 .firstsapn:hover {
  color: aliceblue;
}

.nav .topnavleft2 .app span {
  display: block;
  font-size: 14px;
}
.nav .topnavleft2 span:hover+.app {
  display: inline-block;
} 

/* 导航右侧 */
.nav .nav-right {
  position: relative;
  float: right;
  height: 30px;
}

.space1 {
  padding: 0 14px 0 8px;
}
.space2 {
  position: relative;
  padding: 0 16px 0 16px;
}
.nav .nav-right ul li{
  display: inline-block;
}
.nav-right li:hover .triangle {
  transform-origin: 4px 2px;
  transform: rotate(180deg);
  border-top-color: rgb(216, 77, 77);
} 

.wrapbox {
  position: relative;
  z-index: 202;/*默认显示在其他元素下面*/
  border: 1px solid transparent; 
}
.wrapbox:hover {
  background-color: #fff;
  border-left-color: #ece9e9;
}
.wrapbox:hover .userinfo{
  display: block;
}

.wrapbox  a {
  display: block; 
  color: #999;
}
.wrapbox  a:hover {
  color: rgb(219, 25, 25)
}

.wrapbox .userinfo {
  position: absolute;
  top: 30px;
  width: 80px;
  margin-top: -1px;
  margin-left: -1px;
  padding: 5px 16px 10px 16px;
  border: 1px solid #ece9e9;
  border-top: 0;
  background-color:#fff;
  box-shadow: 0 1px 1px #ececec ;
  display: none;
}


.wrapbox:hover .money{
  display: block;
}
.wrapbox .money a {
  display: block; 
}
.wrapbox .money {
  position: absolute;
  top: 30px;
  width: 90px;
  margin-top: -1px;
  margin-left: -1px;
  padding: 5px 16px 10px 16px;
  border: 1px solid #ece9e9;
  border-top: 0;
  background-color:#fff;
  box-shadow: 0 1px 1px #ececec ;
  display: none;
}

/* logo search 相关 */
.operation {
  height: 100px;
  background-color: #FFF;
  /* line-height: 100px; */
  /* 图片居中的方式，但是不推荐用，因为浏览器默认是基线对齐 */
  /* line-height: 100px; */
}
#header .operation .logo {
   float: left;
   height: 100px;
}
#header .operation a img{
   /* 图片居中正确的方式 通过定位*/
   position: relative;
   top: 50%;
   transform: translate(0,-50%);
}
.outline {
  float: left;
  margin-left: 140px;
  width: 680px;
  height: 100px;
}


#header .operation .search {
  position: relative;
  float: left;
  top: 50%;
  transform: translate(0,-50%);
  width: 403px;
  border: 2px solid #ff2337;
  padding: 6px 39px 6px 30px;
  margin: 2px 1px;
  border-radius: 24px 0 0 24px;
}
#header .operation .search input {
  width: 410px;
  height: 22px;
  background-color: #fff;
  font-style: italic;
}
#header .operation .search i{
  position: absolute;
  width: 14px;
  height: 14px;
  /* background-color: #999; */
  left:10px;
  top:0;
  bottom:0;
  margin: auto 0;
  background: url("../images/sprite1.png") no-repeat -466px -667px;
}
#header .operation .search span {
  position: absolute;
  width: 60px;
  height: 38px;
  background-color: #ff2337;
  top:0;
  bottom:0;
  margin: auto 0;
  right: -20px;
  border-radius: 40px;
}
#header .operation .search span i{
  position: absolute;
  width: 25px;
  height: 25px;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  margin: auto;
  background: url("../images/sprite1.png") no-repeat -502px -663px;
}

/* operation cat */
#header .operation .cat {
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  float: right;
  width: 106px;
  height: 36px;
  border: 2px solid #ff2337;
  line-height: 36px;
  border-radius: 36px;
  text-align: center;
}

#header .operation .cat:hover {
  background-color: rgb(236, 201, 201);
}
#header .operation .cat i {
  position: absolute;
  top:0;
  bottom:0;
  left: 10px;
  margin: auto 0;
  width: 20px;
  height: 20px;
  background: url("../images/cat.png") no-repeat 0 0;
}
#header .operation .cat span { 
  display: inline-block;
  padding-left: 6px;
  vertical-align: middle;
}

/* top相关 */